
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Shared/weblayout.cshtml";
}

<section class="header">
    <div class="container">
        <h1>About Us</h1>

    </div>
</section>

<section class="pages" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>
                    We are a Section-8 company registered formed for the purpose of upliftment of poor people, provide medical facility to such person who are not able to pay their medical expenditure. The company was registered on 03rd January 2023 under The Companies Act  of 2013 with CIN U80902JH2023NPL019842 bearing Registration No. 019842 and registered in DARPAN dated ………... bearing registration no. ……….. Before the establishment of company, we were continuously involved in providing medical services through a private clinic. We provided medical facilities to needy people by organizing free health camps during past two years.
                    We are focused to provide equal opportunities to the underprivileged people in the rural areas irrespective of gender, caste, creed and religion etc.
                    We are now aiming at providing services like medical, agricultural and educational at a large extent.
                </p>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="mission">
                    <div class="bg" style="background: #8BC34A; color: white; margin-top: 9px">
                        <hr style="border: 1px solid #2196F3">
                        <h4 style="text-align:center;color: white;">Our Vision</h4>
                        <hr style="border: 1px solid #2196F3">
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <p>
                                The foundation aims to provide the best healthcare facilities and work for the development of social and economic status of deprived and underprivileged people in the rural as well as urban areas of India to build respect to their dignity, justice, equity and improve the quality of life.
                            </p>
                        </div>
                        <div class="col-lg-4">
                            <img src="~/assets/img/vision3.png" alt="vision" class="img-fluid">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="mission">
                    <div class="bg" style="background: #8BC34A; color: white; margin-top: 9px">
                        <hr style="border:1px solid  #2196F3">
                        <h4 style="text-align:center;color: white;">Our Mission</h4>
                        <hr style="border: 1px solid #2196F3">
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="~/assets/img/mission.png" alt="vision" class="img-fluid">
                        </div>
                        <div class="col-lg-8">
                            <p>
                               <ul>
                                   <li>1.To provide medical facilities to the deserving and needy people irrespective of their gender, caste, creed and social and economic status by organizing free health camps and establishing health clinics/hospitals at various places.</li>

                                   <li>2.To establish nursing colleges, paramedical colleges/institutes and other educational institutions to increase manpower and train people for providing the best medical facilities.</li>

                                   <li>3.To provide rural sources of livelihood and promote market for sale of agricultural and rural products.</li>

                                   <li>4.To support and work for environmental protection by growing/planting trees, waste land management etc. at various places.</li>
                               </ul>
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="mission">

                    <div class="bg" style="background: #8BC34A; color: white; margin-top: 9px">
                        <hr style="border: 1px solid #2196F3">
                        <h4 style="text-align:center;color: white;">Our Goals</h4>
                        <hr style="border: 1px solid #2196F3">
                    </div>
                    <div class="row">
                        @*<div class="col-lg-4">
                                <img src="/images/mission1.png" alt="vision" class="img-fluid">
                            </div>*@
                        <div class="col-lg-12">
                            <p>
                                The goals that you have listed for Hope for Deprived Foundation (HFD) are commendable and align well with the organization's mission of empowering underprivileged individuals and building a strong and prosperous society.<br /><br />


                                1.To provide medical facilities for deserving children, elders irrespective of caste, creed or social status by establishing rural health clinic, hospitals, mobile health care units.<br /><br />

                                2.To organize awareness camps, health camps, workshops, campaign and exhibition.<br /><br />
                                3.To establish nursing college and paramedical colleges/institutes to train people to support in providing assistance in health care services.<br /><br />
                                4.To encourage the human resource development by establishing educational institutions like Pre-Primary, Primary, High School, Pre-University College, Degree College, Post Graduate college and other courses.<br /><br />
                                5.To start, mange and administer any orphanage, nursing home, old age homes, hospitals, libraries, diagnostic centres, training centres, schools, colleges, ITI Institutes, Research Institutions and other institution and extend its benefits to society at large irrespective of caste, creed or social status.<br /><br />
                                6.To acquire land, building and other assets or movable or immovable properties for achieving the objectives of the trust.<br /><br />
                                7.To take over, absorb or amalgamate with any other trust or society with the similar objectives.<br /><br />
                                8.To operate schools and rehabilitation centres for needy people irrespective of caste, creed, race, religion or social status.<br /><br />
                                9.To encourage people to preserve and conserve the Indian culture and heritage from influence of other cultures throughout India and other foreign countries.<br /><br />
                                10.	To provide relief to needy people affected by natural disasters or calamity.<br /><br />
                                11.	To provide basic medical facility, general health care and other needful support helpful for people to overcome sufferings and agony of any natural or manmade disaster and to facilitate them to rehabilitate.<br /><br />
                                12.	To support and work for environmental protection by growing/planting trees, waste land management etc. at various places.<br /><br />
                                13.	To provide clean drinking water and proper sanitation at public places by drilling bore wells and building bathrooms.<br /><br />
                                14.	To arrange and organize religious, social and cultural programmes for all human being from time to time.<br /><br />
                                15.	To provide space like rest rooms, kitchen, dining space, toilets and offices etc. for conducting religious functions or any allied activities as the trustees deem fit from time to time.<br /><br />
                                16.	To promote skill development to encourage self employment among people of various places in the area of agriculture, technology etc.<br /><br />
                                17.	To implement projects for development of rural sources of livelihood and to promote market for sale of agricultural and other rural products<br /><br />
                                18.	To establish and maintain residential and non-residential training centres at various places to promote and train deserving children from villages in various sports mainly indigenous sports.<br /><br />
                                19.	To financially support the budding players to participate and win at national and international level sports.<br /><br />
                                20.	To promote cultural and art by arranging classes of drawing, painting, music, dance etc.<br /><br />
                                21.	To provide various medical services such as organizing health and awareness camps of immunization, eye care, motherhood, child care and communicable diseases.<br /><br />
                                22.	To establish and maintain children parks at various places.<br /><br />
                                23.	To organize and take up health, educational and welfare programmes for needy and poor women and children.<br /><br />
                                24.	To provide medical, emotional, psychological, social support to senior citizens by setting up old age homes and other entertainment centres.<br /><br />
                                25.	To support and facilitate legal assistance to underprivileged and poor section of the society.<br /><br />
                                26.	To support for malnourished children.<br /><br />
                                27.	To establish, build and manage hostels, short stay homes, rehabilitation centres, shelters, crèches, child care centres, counselling centres for women, children, old aged persons, drug addicts and needy people.<br /><br />
                                28.	To distribute woollens, blankets among needy persons in winters.<br /><br />
                                29.	To support in achieving complete literacy and to work for promotion of education among adults.<br /><br />
                                30.	To establish and maintain centres for adult education, vocational education, technical training institutes.<br /><br />
                                31.	To work for elimination of practice of child labour and to take appropriate steps towards their rehabilitation.<br /><br />
                                32.	To focus and promote on education of children specially girl child education.<br /><br />
                                33.	To promote gender equality and empowering women, setting up homes and hostels for working women and orphans.<br /><br />
                                34.	To create awareness and implement health and family welfare by organizing movement for population control.<br /><br />
                                35.	To secure financial and other assistance from national and international agencies/organizations.<br /><br />
                                36.	To cooperate with State and Central Government for extending financial aid for educational purposes.<br /><br />
                                37.	To offer scholarships to meritorious and deserving students from economically backward class.<br /><br />
                                38.	To help poor, widows, handicapped, orphans, old aged, mentally retarded and under privileged section of society.<br /><br />


                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


