
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Shared/weblayout.cshtml";
}

<section class="header">
    <div class="container">
        <h1>Our Gallery</h1>
    </div>
</section>
<section class="gallery">
    <div class="container">
        <div class="row">

            <div class="col-md-3 col-6 custom-col galimg">
                <a href="~/assets/img/gallery6.png" target="_blank">
                    <img src="~/assets/img/gallery6.png" height="200" />                    
                </a>
            </div>
            <div class="col-md-3 col-6 custom-col galimg">
                <a href="~/assets/img/gallery2.png" target="_blank">
                    <img src="~/assets/img/gallery2.png" height="200" />
                </a>
            </div>
            <div class="col-md-3 col-6 custom-col galimg">
                <a href="~/assets/img/gallery3 (1).png" target="_blank">
                    <img src="~/assets/img/gallery3 (1).png" height="200" />
                </a>
            </div>
            <div class="col-md-3 col-6 custom-col galimg">
                <a href="~/assets/img/gallery5.png" target="_blank">
                    <img src="~/assets/img/gallery5.png" height="200" />
                </a>
            </div>
            <div class="col-md-3 col-6 custom-col galimg">
                <a href="~/images/gallery5.png" target="_blank">

                    <img src="~/images/gallery5.png" height="200" />
                </a>
            </div>
            <div class="col-md-3 col-6 custom-col galimg">
                <a href="~/images/gallery6.png" target="_blank">

                    <img src="~/images/gallery6.png" height="200" />
                </a>
            </div>
            <div class="col-md-3 col-6 custom-col galimg">
                <a href="~/images/gallery1 (1).png" target="_blank">
                    <img src="~/images/gallery1 (1).png" height="200" />
                </a>
            </div>
            <div class="col-md-3 col-6 custom-col galimg">
                <a href="~/images/gallery1 (1).png" target="_blank">
                    <img src="~/images/gallery1 (1).png" height="200" />
                </a>
            </div>

        </div>
    </div>

</section>

