
@{
    ViewBag.Title = "Index";
    Layout = "~/Shared/weblayout.cshtml";
}

<div class="slider">
    <!-- Set up your HTML -->
    <div class="owl-carousel ">
        <div class="slider-img">
            <div class="item">
                <div class="slider-img"><img src="~/assets/images/slider/slider-3.jpg" alt=""></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                            <div class="animated bounceInDown slider-captions">
                                <h1 class="slider-title">Together we can make a Differnce</h1>
                                <p>help today because tomorrow you may be the one who neeed helping! Forget what you can get and see ehat you can give</p>
                                <!-- <p class="slider-text hidden-xs">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p> -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="slider-img"><img src="~/assets/images/slider/slider-1.jpg" alt=""></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                        <div class="slider-captions ">
                            <h1 class="slider-title">It's time for better help.</h1>
                            <!-- <p class="slider-text hidden-xs">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p> -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="slider-img"><img src="~/assets/images/slider/slider-2.jpg" alt=""></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                        <div class="slider-captions ">
                            <h1 class="slider-title">Small help together makes better life</h1>
                            <!-- <p class="slider-text hidden-xs">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p> -->

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!--  ************************* About Us Starts Here ************************** -->

<div class="about-us container-fluid">
    <div class="container">
        <div class="row natur-row no-margin w-100">
            <div class="text-part col-md-6">
                <h2>Chhotanagpur Welfare Foundation</h2>
                <p>
                    We are a Section-8 company registered formed for the purpose of upliftment of poor people, provide medical facility to such person who are not able to pay their medical expenditure. The company was registered on 03rd January 2023 under The Companies Act  of 2013 with CIN U80902JH2023NPL019842 bearing Registration No. 019842 and registered in DARPAN dated ………... bearing registration no. ……….. Before the establishment of company, we were continuously involved in providing medical services through a private clinic. We provided medical facilities to needy people by organizing free health camps during past two years.
                    We are focused to provide equal opportunities to the underprivileged people in the rural areas irrespective of gender, caste, creed and religion etc.
                    We are now aiming at providing services like medical, agricultural and educational at a large extent.
                </p>
                <p><a href='about_us.php'>Read More..</a></p>
            </div>
            <div class="image-part col-md-6">
                <div class="about-quick-box row">
                    <div class="col-md-6">
                        <div class="about-qcard">
                            <i class="fas fa-user"></i>
                            <p>Becom a Volunteer</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="about-qcard ">
                            <i class="fas fa-search-dollar red"></i>
                            <p>Quick Fundrais</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="about-qcard ">
                            <i class="fas fa-donate yell"></i>
                            <p>Giv Donation</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="about-qcard ">
                            <i class="fas fa-hands-helping blu"></i>
                            <p>Help Someone</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="foundation">
    <div class="container">
        <h3>THE CHOTANAGPUR WELFARE FOUNDATION</h3>
        <p>We are focused to provide equal opportunities to the underprivileged people in the rural areas irrespective of gender, caste, creed and religion etc. </p>

        <div class="row">
            <div class="col-md-6">
                <div class="vission">
                    <h4>OUR VISION</h4>
                    <p>A world in which every child attains the right to survival, protection, development and participation.</p>

                </div>

            </div>
            <div class="col-md-6">
                <div class="Mission">
                    <h4>OUR MISSION</h4>
                    <p>To provide rural sources of livelihood and promote market for sale of agricultural and rural products.</p>
                </div>

            </div>
        </div>


    </div>

</section>






<!-- ################# Events Start Here#######################--->
<section class="events">
    <div class="container">
        <div class="session-title row">
            <h2>Popular Causes</h2>
            <p>We are a non-profital & Charity raising money for child education</p>
        </div>
        <div class="event-ro row">
            <!--<div class="col-md-3 col-sm-6">
            <div class="event-box">
                <img src="~/assets/images/events/image_08.jpg" alt="">
                <h4>Our Work with refugees</h4>-->
            <!-- <p class="raises"><span>Raised : $34,425</span> / $500,000 </p> -->
            <!--<p class="desic">Supporting 160 underprivileged children, mostly orphans and victims of HIV/AIDS, that visit daily the day centre: Centre Reborn for Hope. ALG finances feeding and education support.</p>-->
            <!-- <button class="btn btn-success btn-sm">Donate Now</button> -->
            <!--</div>
            </div>-->
            <div class="col-md-3 col-sm-6">
                <div class="event-box">
                    <img src="~/assets/images/events/image_08.jpg" alt="">
                    <h4>Change a Life Through Education</h4>
                    <!-- <p class="raises"><span>Raised : $34,425</span> / $500,000 </p> -->
                    <p class="desic">Education provides children with opportunities to escape poverty, gain a voice in their community and experience a better quality of life. But worldwide, more than 120 thousand children.</p>
                    <!-- <button class="btn btn-success btn-sm">Donate Now</button> -->
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="event-box">
                    <img src="~/assets/images/events/image_08.jpg" alt="">
                    <h4>Change a Life Through Education</h4>
                    <!-- <p class="raises"><span>Raised : $34,425</span> / $500,000 </p> -->
                    <p class="desic">Education provides children with opportunities to escape poverty, gain a voice in their community and experience a better quality of life. But worldwide, more than 120 thousand children.</p>
                    <!-- <button class="btn btn-success btn-sm">Donate Now</button> -->
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="event-box">
                    <img src="~/assets/images/events/image_04.jpg" alt="">
                    <h4>Supporting a day centre</h4>
                    <!-- <p class="raises"><span>Raised : $34,425</span> / $500,000 </p> -->
                    <p class="desic">Supporting 160 underprivileged children, mostly orphans and victims of HIV/AIDS, that visit daily the day centre: Centre Reborn for Hope. ALG finances feeding and education support.</p>
                    <!-- <button class="btn btn-success btn-sm">Donate Now</button> -->
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="event-box">
                    <img src="~/assets/images/events/image_04.jpg" alt="">
                    <h4>Feeding the Hungry in Indian</h4>
                    <!-- <p class="raises"><span>Raised : $34,425</span> / $500,000 </p> -->
                    <p class="desic">South Africa produces enough food to feed it's population yet 20% of indian are food insecure. FoodBank rescues food destined for landfill from food suppliers.</p>
                    <!-- <button class="btn btn-success btn-sm">Donate Now</button> -->
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>


<section class="charity">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h4>Give a Helping Hand to Those Who need It</h4>
            </div>
            <div class="col-md-3">
                <center><a href="#" class="btn btn-success">DONATE NOW</a></center>
            </div>
        </div>

    </div>

</section>

<section class="Helpus">
    <h2 style="text-align:center;color:rgb(173, 6, 6)">How Can You Help Us</h2>

    <div class="container">

        <div class="row">
            <div class="help col-md-4">
                <div class="inner-item">

                    <i class="fa-solid fa-piggy-bank"></i>
                    <h4>Make a Donation</h4>
                    <p>
                        Your small donation, will make a big smile on kids face with this charity donation you can contribute
                        towards a bright, healthy, and safe future for the children,A donation is a gift for charity, humanitarian
                        aid, or to benefit a cause.
                    </p>

                </div>
            </div>
            <div class="help col-md-4">
                <i class="fa-solid fa-user-plus"></i>
                <h4>Become a Volunteer</h4>
                <p>
                    Volunteering gives you an opportunity to change people's lives, including your own. It gives you the
                    satisfaction of playing a role in someone else's life,It is a way of helping others. It is giving
                    a person's time and ability to help someone who may be in need of help.
                </p>
            </div>
            <div class=" col-md-4">
                <i class="fa-coins"></i>
                <h4>Fundrising</h4>
                <p>
                    Donate to Educate Every Child in India. Over the years we have created several innovative sustainable and
                    scalable solutions concurrence with the policies of the government of India that help us continue sharing
                    the gift of education with underprivileged children.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- ################# Charity Number Starts Here#######################--->


<div class="doctor-message">
    <div class="inner-lay">
        <div class="container">
            <div class="row session-title">
                <h2>Our Achievemtns in Numbers</h2>
                <p>
                    We can talk for a long time about advantages of our Dental clinic before other medical treatment facilities.
                    But you can read the following facts in order to make sure of all pluses of our clinic:
                </p>
            </div>
            <div class="row">
                <div class="col-sm-3 numb">
                    <h3>12+</h3>
                    <span>YEARS OF EXPEREANCE</span>
                </div>
                <div class="col-sm-3 numb">
                    <h3>1812+</h3>
                    <span>HAPPY CHILDRENS</span>
                </div>
                <div class="col-sm-3 numb">
                    <h3>52+</h3>
                    <span>EVENTS</span>
                </div>
                <div class="col-sm-3 numb">
                    <h3>48+</h3>
                    <span>FUNT RAISED</span>
                </div>
            </div>
        </div>

    </div>

</div>


<!--################### Testimonial #######################--->
<img src="~/assets/images/events/image_04.jpg" />
<img src="~/assets/img/t5.jpg" />
<img src="~/assets/img/t4.jpg" />
<section class="testimoial">
    <img src="~/assets/img/t4.jpg" class="img-fluid" alt="" />
    <div class="container">
        <h1>What People Say About Our Foundation</h1>
        <div class="row">
            <div class="col-md-12">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="single-box">
                                        <div class="img-area"><img src="~/assets/img/t4.jpg" class="" alt="" /></div>
                                        <div class="img-text">
                                            <h2>xxxxx</h2>
                                            <p>NGO stands for non-governmental organization. While there is no universally agreed-upon definition of an NGO, typically it is a voluntary group or institution with a social mission</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4  hiddenslide">
                                    <div class="single-box">
                                        <div class="img-area"><img src="~/assets/img/t5.jpg" alt="" /></div>
                                        <div class="img-text">
                                            <h2>xxxxx</h2>
                                            <p>NGO stands for non-governmental organization. While there is no universally agreed-upon definition of an NGO, typically it is a voluntary group or institution with a social mission</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 hiddenslide">
                                    <div class="single-box">
                                        <div class="img-area"><img src="~/assets/img/t4.jpg" alt="" /></div>
                                        <div class="img-text">
                                            <h2>xxxxx</h2>
                                            <p>NGO stands for non-governmental organization. While there is no universally agreed-upon definition of an NGO, typically it is a voluntary group or institution with a social mission</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="single-box">
                                        <div class="img-area"><img src="~/assets/img/t5.jpg" alt="" /></div>
                                        <div class="img-text">
                                            <h2>xxxxx</h2>
                                            <p>NGO stands for non-governmental organization. While there is no universally agreed-upon definition of an NGO, typically it is a voluntary group or institution with a social mission</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 hiddenslide">
                                    <div class="single-box">
                                        <div class="img-area"><img src="~/assets/img/t4.jpg" alt="" /></div>
                                        <div class="img-text">
                                            <h2>xxxxx</h2>
                                            <p>NGO stands for non-governmental organization. While there is no universally agreed-upon definition of an NGO, typically it is a voluntary group or institution with a social mission</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="single-box hiddenslide">
                                        <div class="img-area"><img src="~/assets/img/t5.jpg" alt="" /></div>
                                        <div class="img-text">
                                            <h2>xxxxx</h2>
                                            <p>NGO stands for non-governmental organization. While there is no universally agreed-upon definition of an NGO, typically it is a voluntary group or institution with a social mission</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>



</section>
<!--<section class="our-team team-11">
    <div class="container">
        <div class="session-title row">
            <h2>Meet our Team</h2>-->
<!-- ################# Our Blog Starts Here#######################--->
<!-- <section class="our-blog">
        <div class="container">
            <div class="row session-title">
                <h2> Our Blog </h2>
                <p>Take a look at what people say about US </p>
            </div>
            <div class="blog-row row">
                <div class="col-md-4 col-sm-6">
                    <div class="single-blog">
                        <figure>
                            <img src="assets/images/events/image_01.jpg" alt="">
                        </figure>
                        <div class="blog-detail">
                            <small>By Admin | August 10 2018</small>
                            <h4>Methods of Recuirtments</h4>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam justo neque, aliquet sit amet elementum vel, vehicula eget eros. Vivamus arcu metus, mattis sed sagittis at, sagittis quis neque. Praesent.</p>
                            <div class="link">
                                <a href="">Read more </a><i class="fas fa-long-arrow-alt-right"></i>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-blog">
                        <figure>
                            <img src="assets/images/events/image_02.jpg" alt="">
                        </figure>
                        <div class="blog-detail">
                            <small>By Admin | August 10 2018</small>
                            <h4>Methods of Recuirtments</h4>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam justo neque, aliquet sit amet elementum vel, vehicula eget eros. Vivamus arcu metus, mattis sed sagittis at, sagittis quis neque. Praesent.</p>
                            <div class="link">
                                <a href="">Read more </a><i class="fas fa-long-arrow-alt-right"></i>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-blog">
                        <figure>
                            <img src="assets/images/events/image_03.jpg" alt="">
                        </figure>
                        <div class="blog-detail">
                            <small>By Admin | August 10 2018</small>
                            <h4>Methods of Recuirtments</h4>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam justo neque, aliquet sit amet elementum vel, vehicula eget eros. Vivamus arcu metus, mattis sed sagittis at, sagittis quis neque. Praesent.</p>
                            <div class="link">
                                <a href="">Read more </a><i class="fas fa-long-arrow-alt-right"></i>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
     </section> -->
