
@{
    ViewBag.Title = "Service";
    Layout = "~/Shared/weblayout.cshtml";
}

<section class="header">
    <div class="container">
        <h1>Our Services</h1>
    </div>
</section>

<section class="servicepage">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="services">
                    <div class="bg" style="background: #8BC34A; color: white; margin-top: 9px">
                        <hr style="border: 1px solid #2196F3">
                        <h4 style="text-align:center;color: white;">Lifeline ENT Clinic</h4>
                        <hr style="border: 1px solid #2196F3">
                    </div>
                    <div class="container">
                        We are continuously involved in providing medical services through a private clinic.
                        Google map, photo

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="services">
                    <div class="bg" style="background: #8BC34A; color: white; margin-top: 9px">
                        <hr style="border: 1px solid #2196F3">
                        <h4 style="text-align:center;color: white;">Health Camps</h4>
                        <hr style="border: 1px solid #2196F3">
                    </div>
                    <div class="container">
                        We provided medical facilities to needy people by organizing free health camps during past two years.
                        photo
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

